.btn-d {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 3px;
}

.card {
  margin-top: 10px;
  background: #ffffff;
  width: 85%;
  border-radius: 5px;
  padding: 13px;
  position: relative;
}

.card-action {
  position: absolute;
  right: 0;
}

.card_action svg {
  margin-right: 10px;
}

.card-title {
  display: inline-block;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 0.8rem;
  margin-bottom: 4px;
  color: #ffffff;
  background: #5095e4;
}
